//@use "../abstracts/colors" as *;
//@use "../abstracts/mixins" as *;
@use "../abstracts" as *  ;

.nav {
  width: 100%;
  height: 7rem;
  background-color: $white;
  position: fixed;
  @include position(fixed, 0, null, null, 0);
  top: 0;
  left: 0;
  border-bottom: .1rem solid $gray-100;
  @include flexBox(center, null);

  &__wrapper {
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    @include flexBox(space-between, center);

    &__logo {
      &__brand {
        text-decoration: none;
        text-transform: capitalize;
        color: black;
        font-size: 2.5rem;
        font-weight: 600;
        position: relative;
        color: darkblue;

        &::after {
          content: "";
          width: .8rem;
          height: .8rem;
          @include position(absolute, null, -1rem, 0.3rem, null);
          background-color: $green-500;
          border-radius: 50%;
          box-shadow: .2rem .2rem $green-200;
        }
      }
    }

    &__ul {
      list-style: none;
      @include flexBox(null, null);
      @include responsive(sm) {
        @include position(fixed, 7rem, 0, 0, 0);
        width: 100%;
        height: 100%;
        background-color: $green-500;
        flex-direction: column;
        padding-top: 4rem;
        color: white;
        transform: scale(0);
        transition: all ease-in-out 0.3s;
        border-radius: 50%;
        transform-origin: 100% 50%;
      }

      &__li {
        margin-right: 2rem;
        transition: all 1s;
        @include responsive(sm) {
          display: block;
          margin-bottom: .5rem;
          margin-right: 0;
          &:hover {
            background-color: white;
          }
        }

        &__a {
          font-size: 1.4rem;
          font-weight: 500;
          color: $black;
          text-decoration: none;
          text-transform: capitalize;
          transition: padding-left cubic-bezier(0.25, 0.1, 0.25, 1) 1s;;
          @include responsive(sm) {
            display: block;
            width: 100%;
            height: 100% !important;
            color: white;
            padding-left: $gutter + 1.5rem;
            padding-top: 1rem;
            padding-bottom: 1rem;

            &:hover {
              color: black;
              padding-left: $gutter + 3rem;
            }
          }

        }

        &:last-child {
          margin-right: 0;
        }

        &:first-child &__a {
          color: $green-500;
          @include responsive(sm) {
            color: black;
          }
        }
      }

    }

    &__toggle {
      display: none;
      width: 3rem;
      height: 3rem;
      background-color: $green-500;
      border-radius: .4rem;
      outline: .3rem solid $green-200;
      cursor: pointer;

      i {
        color: white;
        font-size: 2.1rem;
      }

      @include responsive(sm) {
        @include flexBox(center, center)
      }
    }

  }
  @include responsive(sm){
    &__active{
      transform: scale(1);
      border-radius: 0;
    }
  }

}

